
<h2>Questions</h2>
<img src="assets/answeryourownquestion.gif" alt="Fry Meme, don't answer your own question" style="height: 200px;" >
<ul>
<% @questions.each do |question| %>
<li><%= link_to question.title, question %> </li>
<% end %>
</ul>

<%= link_to "New Question", new_question_path %>
